.Rproj.user
.Rhistory
.RData
.Ruserdata
nocursor_exposure.csv
nocursor_classic.csv
localization_exposure.csv
localization_classic.csv
localization_online.csv
ManuscriptMaterials.docx
ManuscriptMaterials.nb.html
ManuscriptMaterials.log
*.svg
*.html
*.pdf
